* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: var(--background, #0A192F);
    display: flex;
    width: 1440px;
    padding-bottom: 120px;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}

header {
    display: flex;
    width: 1440px;
    height: 80px;
    padding: 18px 0px;
    align-items: center;
    background: rgba(10, 25, 47, 0.80);

}

h1 {
    width: 156px;
    color: var(--primary, #CCD6F6);
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}


.nav {
    display: flex;
    padding: 0px 31px 0px 40px;
    justify-content: flex-end;
    align-items: center;
    gap: 913px;
    display: flex;
    /* Para permitir o alinhamento dos itens */
    justify-content: space-between;
    /* Alinha os itens à esquerda e à direita */
    align-items: center;
    /* Alinha os itens verticalmente */
    padding: 10px 20px;
    /* Adapte conforme necessário */
}

.link-header {
    display: flex;
    width: 84px;
    height: 24px;
    align-items: right;

}

nav ul {
    display: flex;
    width: 84px;
    height: 24px;
    justify-content: center;



}

nav ul li a {
    display: flex;
    width: 84px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: var(--secondary, #ECEDEF);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

.presentation {
    display: flex;
    padding: 24px;
    align-items: flex-start;
    gap: 92px;
}

.name h2 {
    width: 480px;
    height: 64px;
    flex-shrink: 0;
    color: var(--primary, #CCD6F6);
    font-family: Inter;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sub-title h3 {
    width: 480px;
    height: 24px;
    flex-shrink: 0;
    color: var(--secondary, #ECEDEF);
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.sub-title .stack {
    color: var(--green, #64FFDA);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.text-presentation p {
    width: 480px;
    height: 72px;
    flex-shrink: 0;
    color: var(--secondary, #ECEDEF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-top: 24px;
    /* 150% */

}

.profile img {
    width: 400px;
    height: 410px;
    flex-shrink: 0;
  
}

.img-frame {
    position: relative; /* Definimos como posição relativa para permitir o posicionamento absoluto da imagem */
    width: 400px;
    height: 410px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 3px solid var(--green, #64FFDA);
    overflow: hidden; /* Para esconder a parte da imagem que sai do frame */
}

.img-profile {
    position: absolute; /* Definimos como posição absoluta para posicioná-la dentro do frame */
    bottom: -20px; /* Ajusta a posição vertical da imagem para criar o espaço desejado */
    right: -20px; /* Ajusta a posição horizontal da imagem para criar o espaço desejado */
    border-radius: 16px; /* Mantemos o mesmo raio de borda do frame */
    z-index: 1; /* Garante que a imagem esteja sobreposta ao frame */
    width: calc(100% + 40px); /* Adiciona a largura extra para compensar o espaço entre o frame e a imagem */
    height: calc(100% + 40px); /* Adiciona a altura extra para compensar o espaço entre o frame e a imagem */
    background: url(/assets/img/perfil_new.jpeg), lightgray; /* Adicionamos a cor de fundo lightgray como fallback */
    background-position: center; /* Posicionamento da imagem */
    background-size: cover; /* Redimensiona a imagem para cobrir o elemento */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    margin-top: 10px;
    margin-right: 10px;
    
}



.about {
    display: flex;
    width: 1000px;
    align-items: flex-end;
    align-content: flex-end;
    gap: 80px 40px;
    flex-wrap: wrap;
}

.projects {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
}

.contact {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 80px;

}

footer {}